@charset "UTF-8";
section > h2{
	font-weight: 400;
	font-size: 30px;
	margin: 40px 0 50px;
}
.frms::after{content: ''; display: inline-block; clear: both;}
#frm1{float:left;}
#frm2{float: right;}
form>select{
	width:100px; height:25px;
}

.frm2 input[type="text"]{
	width:200px; 
	/* padding: 20px 10px; line-height: 28px; */
/* 	font-size: 30px;
  	padding-top: 10px;
 	 padding-bottom: 10px; */
}

.searchBtn{
	width:40px; height:25px;
}
.btnDiv{ text-align:right;}
.writerBth{
	width:60px; height: 30px;
}

.listTable{
	border-collapse:collapse;
	margin:20px 0 100px;
	width:100%;
}
.listTable tr{
	height:35px; width:100%;
	border-bottom:1px solid gray;
}
.listTable thead tr{
	background-color:lightgray;
}

.listTable th:nth-child(1){width:55px;}
.listTable th:nth-child(2){width:110px;}
.listTable th:nth-child(3){width:410px;}
.listTable th:nth-child(4){width:90px;}
.listTable th:nth-child(5){width:150px;}
.listTable th:nth-child(6){width:85px;}

.listTable td{text-align:center;}
.listTable td:nth-child(3){text-align:left;  padding-left: 20px;}

/* 댓글 */
#replyspan{
	padding-left:10px;
	font-weight:bold;
	color:orange;
}
/* 페이징 */
.paging{text-align:center;}
.paging a{
	display: inline-block;
	width: 25px; height:25px;
	border: 1px solid black;	
}


